body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    
}


.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.sort-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-left: 10px; /* ここを調整 */
    margin-right: 10px;
}

select, input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    background-color: #fff;
}

input[type="text"] {
    flex: 1;
    background-color: #fff;
}

button {
    background-color: #007bff; /* 青色に変更 */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* ホバー時の色 */
}

.channel {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.channel:hover {
    transform: scale(1.02);
}

.channel img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.channel-details {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    color: #575757;
}

.channel-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    letter-spacing: 0em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
    position: relative; /* 相対位置指定 */
    line-height: 2; /* 行間を調整するための基本設定 */
    line-height: inherit; /* 全ての要素に適用される行間 */
}

.modal-content .modal-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.modal-content img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 0%;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3); /* ドロップシャドウの追加 */
}

.modal-content .modal-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.modal-content .modal-text {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content .modal-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modal-content .modal-subscribers,
.modal-content .modal-url {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.modal-content .modal-subscribers {
    color: #666;
}

.modal-content .modal-url {
    color: #007bff;
    text-decoration: none;
}

.modal-content .modal-url:hover {
    text-decoration: underline;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: #8d8d8d;
    margin-top: auto;
    width: 100%;

}

.footer-2__logo {
    width: 130px;
    height: 30px;
}

.footer-2__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-2__sns-icon {
    width: 21px;
    height: 21px;
}

.footer-2__copyright {
    margin: 0;
    color: #ffffffb3;
    font-weight: 200;
    font-size: .8em;
}
