body {
    @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    
}

.how-to-title{
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.how-to-title2{
    text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}

h5 {
    text-align: right;
    color: #863030;
    margin-right: 50px;
    margin-bottom: -30px;
}

.qa-8 dt {
    text-align: left;
    margin-left: 22px;
    margin-bottom: 1em;
    color: #333333;
    font-weight: 600;
}

.qa-8 dt::before,
.qa-8 dd::before {
    text-align: left;
    margin-right: .4em;
}

.qa-8 dt::before {
    text-align: left;
    content: "Q.";
}

.qa-8 dd {
    text-align: left;
    margin: 0 0 2.5em;
    padding: 1em 1.5em;
    background-color: #f2f2f2;
    color: #333333;
}

.qa-8 dd::before {
    text-align: left;
    content: "A.";
}


/* タグチェックボックスのスタイル */
.tag-checkbox {
    flex-wrap: wrap;
    gap: .5em 2em;
    margin-right: 5px; /* チェックボックスとラベルの間隔 */
}

/* タグチェックボックスアコーディオンメニューのスタイル */
.tag-category-title {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
}

.tag-category-title::after {
    content: '\25BE'; /* くの字型の矢印 */
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.tag-category-title.active::after {
    transform: translateY(-50%) rotate(-180deg); /* 展開時の矢印の向き */
}

.tag-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-bottom: 10px;
    border-top: 1px solid #ddd; /* 横線 */
    padding-top: 5px;
}

  /* チェックボックスのラベルのスタイル */
.tag-checkbox label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

  /* チェックボックスのチェック時のスタイル */
.tag-checkbox:checked + label::before {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #d6dde3;
    content: ''; width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #d6dde3;
    content: '';
}

.tag-checkbox label:has(:checked)::after {
    position: absolute;
    top: 5px;
    left: 7px;
    transform: rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid #2589d0;
    border-width: 0 3px 3px 0;
    content: '';
}

.hr1 {
    border-top: 3px dotted #8d8d8d; /* 点線 */
}



.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.sort-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    overflow: hidden;
}

label {
    margin-left: 10px; /* ここを調整 */
    margin-right: 10px;
}

select, input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    background-color: #fff;
}

input[type="text"] {
    flex: 1;
    background-color: #fff;
}


.channel {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.channel:hover {
    transform: scale(1.02);
}

.channel img {
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.channel-details {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    color: #575757;
}

/* タグボタンを横並びにするスタイル */
.channel-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 左揃え */
    margin-top: 0px;
}

/* タグボタンの基本スタイル */
.tag-button {
    margin-right: 8px; /* ボタン間の横の余白 */
    margin-bottom: 8px; /* ボタン間の縦の余白 */
    padding: 6px 12px;
    background-color: #eff2f4;
    color: #333333;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    align-self: flex-start; /* 上端揃え */
}

/* ボタンにマウスを乗せた時のスタイル */
.tag-button:hover {
    background-color: #e6e6e6;
}

/* ボタンを押した時のスタイル */
.tag-button:active {
    background-color: #ffffff;
}

/* アクティブなタグボタンのスタイル */
.tag-button.active-tag {
    background-color: red;
    color: white;
}


.channel-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    letter-spacing: 0.05em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
    position: relative; /* 相対位置指定 */
    line-height: 2; /* 行間を調整するための基本設定 */
    line-height: inherit; /* 全ての要素に適用される行間 */
}

.modal-content .modal-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.modal-content img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-content .modal-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.modal-content .modal-text {
    text-align: center;
    margin-bottom: 20px;
    color: #575757;
}

.modal-content .modal-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modal-content .modal-subscribers,
.modal-content .modal-url {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.modal-content .modal-subscribers {
    color: #666;
}

.modal-content .modal-url {
    color: #007bff;
    text-decoration: none;
}

.modal-content .modal-url:hover {
    text-decoration: underline;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: #8d8d8d;
    margin-top: auto;
    width: 100%;

}

.footer-2__logo {
    width: 130px;
    height: 30px;
}

.footer-2__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-2__sns-icon {
    width: 21px;
    height: 21px;
}

.footer-2__copyright {
    margin: 0;
    color: #ffffffb3;
    font-weight: 200;
    font-size: .8em;
}
